# Postgres Configuration
POSTGRES_PASSWORD=

# Kestra Admin Configuration
KESTRA_ADMIN_USER=
KESTRA_ADMIN_PASSWORD=

# Jira Configuration
JIRA_BASE_URL=
JIRA_AUTH_BASIC=

# Slack Configuration
SLACK_WEBHOOK_URL=

# GitHub Configuration
GITHUB_TOKEN=

# Automation Configuration
USE_MOCK=
DEFAULT_BRANCH=
WORKSPACE_BASE=
CLAUDE_MOCK_PATH=
CLAUDE_REAL_PATH=
